* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: museosans-300;
  src: url("../tipografias/MuseoSans-300.otf"); }

@font-face {
  font-family: jersey_m54;
  src: url("../tipografias/Jersey_M54[1].ttf"); }

@font-face {
  font-family: museosans_500;
  src: url("../tipografias/MuseoSans_500_Italic.otf"); }

@font-face {
  font-family: museosans_100;
  src: url("../tipografias/MuseoSans-100.otf"); }

@font-face {
  font-family: museosans_900;
  src: url("../tipografias/MuseoSans.otf"); }

.cabecera {
  background-color: black; }
  .cabecera .cabecera__logo {
    width: 5rem;
    margin-left: 20px; }
  .cabecera .navegador {
    margin-right: 10px; }
    .cabecera .navegador .navbar-nav {
      text-align: center; }
      .cabecera .navegador .navbar-nav .nav-link {
        font-size: 18px;
        color: white !important;
        font-family: museosans-300;
        transition: transform 1s; }
        .cabecera .navegador .navbar-nav .nav-link:hover {
          transform: scale(1.1); }

.main__inicio {
  background-image: url("../imagen/imageninicio2.jpg");
  height: 50rem;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: auto;
  overflow: hidden; }
  .main__inicio .sticker {
    width: 30rem;
    margin-top: -15rem;
    height: 100%; }
  .main__inicio .inicio__texto1 {
    font-size: 35px;
    color: white;
    margin: 0rem 0rem 5rem 0rem;
    font-family: jersey_m54; }
  .main__inicio .inicio__texto2 {
    font-size: 51px;
    color: white;
    font-family: jersey_m54;
    padding-bottom: 50px; }
  .main__inicio .inicio__texto3 {
    text-decoration: none;
    color: white !important;
    /*No me deja igual que el Nav*/
    font-size: 24px;
    background-color: #FECF07;
    padding: 4px 10px;
    border-radius: 10px;
    font-family: museosans_900; }
  .main__inicio .inicio__boton:hover {
    transform: scale(1.2); }
  .main__inicio .inicio__boton {
    width: fit-content;
    margin: 0 auto;
    transition: transform 1s; }

.main__nosotros {
  overflow: hidden; }
  .main__nosotros .img-fluid {
    width: fit-content;
    height: fit-content;
    margin-left: fit-content;
    margin-top: -5px; }
  .main__nosotros .nosotros__contenedor {
    position: relative; }
    .main__nosotros .nosotros__contenedor .nosotros__titulo {
      color: #FECF07;
      font-family: museosans_900;
      border-bottom: 4px solid;
      position: absolute;
      top: 4%;
      left: 5%; }
      .main__nosotros .nosotros__contenedor .nosotros__titulo--texto {
        font-family: museosans_100;
        font-size: 24px;
        margin-left: 1rem;
        position: absolute;
        left: 5%;
        top: 25%; }
    .main__nosotros .nosotros__contenedor .nosotros__compromiso {
      width: fit-content;
      position: absolute;
      top: 50%;
      left: 10%; }
    .main__nosotros .nosotros__contenedor .nosotros__calidad {
      width: fit-content;
      position: absolute;
      top: 50%;
      right: 30%; }
    .main__nosotros .nosotros__contenedor .nosotros__fabrica {
      width: fit-content;
      position: absolute;
      top: 70%;
      left: 10%; }
    .main__nosotros .nosotros__contenedor .nosotros__entrega {
      width: fit-content;
      position: absolute;
      top: 70%;
      right: 30%; }

.nosotros__imagen--compromiso {
  width: 5rem;
  height: 5rem;
  align-self: center; }

.nosotros__text--compromiso {
  font-family: museosans_500;
  align-self: center; }

.nosotros__imagen--calidad {
  width: 5rem;
  height: 5rem;
  align-self: center; }

.nosotros__text--calidad {
  font-family: museosans_500;
  align-items: center;
  margin: 5px 15px;
  align-self: center; }

.nosotros__imagen--fabrica {
  width: 5rem;
  height: 5rem;
  align-self: center; }

.nosotros__text--fabrica {
  align-self: center;
  font-family: museosans_500; }

.nosotros__imagen--entrega {
  width: 5rem;
  height: 5rem;
  align-self: center; }

.nosotros__text--entrega {
  align-self: center;
  font-family: museosans_500; }

.footer {
  background-color: black; }
  .footer .secciones {
    color: white; }
    .footer .secciones__footer {
      color: #FECF07; }
