* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: museosans-300;
  src: url(../../tipografias/MuseoSans-300.otf); }

.cabecera {
  background-color: black; }
  .cabecera .cabecera__logo {
    width: 5rem;
    margin-left: 20px; }
  .cabecera .navegador {
    margin-right: 10px; }
    .cabecera .navegador .navbar-nav {
      text-align: center; }
      .cabecera .navegador .navbar-nav .nav-link {
        font-size: 18px;
        color: white !important;
        font-family: museosans-300;
        transition: transform 1s; }
        .cabecera .navegador .navbar-nav .nav-link:hover {
          transform: scale(1.1); }
