.footer{
    background-color: black;

    .secciones__footer{

        .secciones__footer--contacto{
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: ce;

            .contacto__ubicacion{

                .icono__ubicacion{
                    width: 25px;
                    height: 25px;
                    align-items: center;
                    justify-content: center;
                }
                .texto__footer{
                    color: map-get($color, color-principal);
                    margin-left: 10px;
                }
            }
            .contacto__telefono{

                .icono__telefono{
                    width: 25px;
                    height: 25px;
                    align-items: center;
                    justify-content: center;
                }
                .texto__footer{
                    color: map-get($color, color-principal);
                    margin-left: 10px;
                }
                    
            }
            .contacto__mail{

                .icono__mail{
                        width: 25px;
                        height: 25px;
                        align-items: center;
                        justify-content: center;
                }
                .texto__footer{
                    color: map-get($color, color-principal);
                    margin-left: 10px;
                }
                    
            }

            .redessociales{
                .icono__redes{
                        width: 25px;
                        height: 25px;
                        margin-right: 5px;
                }
            }
        }

        .secciones__footer--link{
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;

            .footer__lista{
                list-style: none;

                .footer__link{
                    text-decoration: none;
                    color: map-get($color, color-principal);
                    
                }
                
            }
        }

        .secciones__footer--formulario{
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;

            .form__text{
                color: map-get($color, color-principal);
                margin: 6px 0px 1px 0px
            }

            .form__boton{
                margin: 5px 0px;
            }
        }
    }
}