.footer{
    background-color: black;

    .secciones__footer{

        .secciones__footer--contacto{
            margin-top: 20px;
            margin-bottom: 20px;

            .contacto__ubicacion{

                .icono__ubicacion{
                    width: 25px;
                    height: 25px;
                    align-items: center;
                    justify-content: center;
                }
                .texto__footer{
                    color: map-get($color, color-principal);
                    margin-left: 10px;
                }
            }
            .contacto__telefono{

                .icono__telefono{
                    width: 25px;
                    height: 25px;
                    align-items: center;
                    justify-content: center;
                }
                .texto__footer{
                    color: map-get($color, color-principal);
                    margin-left: 10px;
                }
                    
            }
            .contacto__mail{

                .icono__mail{
                        width: 25px;
                        height: 25px;
                        align-items: center;
                        justify-content: center;
                }
                .texto__footer{
                    color: map-get($color, color-principal);
                    margin-left: 10px;
                }
                    
            }

            .redessociales{
                .icono__redes{
                        width: 25px;
                        height: 25px;
                        margin-right: 5px;
                }
            }
        }
    }
}