.footer{
    background-color: black;



    .secciones__footer{

        .secciones__footer--contacto{
            @extend %secciones-margin;

            
            .footer__titulo-contacto{
                margin-left: 25%;
                color: map-get($color, color-secundario);
                font-family: museosans_900;
                font-size: 20px;
                border-bottom: 1px solid;
                width: fit-content;

            }
        
            .contacto__ubicacion{
                margin-left: 15%;

                .icono__ubicacion{
                    @include iconostamaño (20px, 24px)
                    
                }
                .texto__footer{
                    color: map-get($color, color-principal);
                    margin-left: 10px;
                }
            }



            .contacto__telefono{
                margin-left: 15%;

                .icono__telefono{
                    @include iconostamaño (24px, 24px)

                }
                .texto__footer{
                    color: map-get($color, color-principal);
                    margin-left: 10px;
                }
                    
            }
            .contacto__mail{
                margin-left: 15%;

                .icono__mail{
                    @include iconostamaño (24px, 20px)

                }
                .texto__footer{
                    color: map-get($color, color-principal);
                    margin-left: 10px;
                }
                    
            }

            .redessociales{
                margin-left: 14%;

                .icono__redes{
                    @include iconostamaño (24px, 24px);
                    margin-right: 5px;
                }
            }
        }

        .footer__titulo-enlaces{
            margin-left: 25%;
            color: map-get($color, color-secundario);
            font-family: museosans_900;
            font-size: 20px;
            border-bottom: 1px solid;
            width: fit-content;
        }

        .secciones__footer--link{
            @extend %secciones-margin;
           

            .footer__lista{
                list-style: none;
                
                .footer__lista-links{
                    margin-bottom: 3px;
                    font-size: 18px;
                }

                .footer__link{
                    text-decoration: none;
                    color: map-get($color, color-principal);
                    margin-left: 30%;
                    margin-top: 10px;
                }
                
            }
        }
        .footer__titulo-formulario{
            margin-left: 35%;
            color: map-get($color, color-secundario);
            font-family: museosans_900;
            font-size: 20px;
            border-bottom: 1px solid;
            width: fit-content;
            
        }

        .secciones__footer--formulario{
            @extend %secciones-margin;
            text-align: center;

            .form__text{
                color: map-get($color, color-principal);
                margin: 6px 0px 1px 0px
            }

            .form__boton{
                margin: 5px 0px;
            }
        }
    }

    @media only screen and (max-width: 1024px) {

        .secciones__footer{

            .footer__titulo-formulario{
                margin-left: 27%;
            }

        }

    }
    @media only screen and (max-width: 768px) {

        .secciones__footer{

            .footer__titulo-formulario{
                margin-left: 21%;
            }

        }

    }
    @media only screen and (max-width: 375px) {

        .secciones__footer{

            .footer__titulo-formulario{
                margin-left: 31%;
            }
            .secciones__footer--link{

                .footer__lista{

                    .footer__lista-links{
                        margin-bottom: 4%;

                    }

                }

            }
   

        }

    }

}

