
.cabecera{
    background-color: black;

    .cabecera__logo{
        width: 5rem;
        margin-left: 60%;
        margin-top: 10%;
        margin-bottom: 10%;
    }


    
    .navegador{
        margin-right: 3%;

        .navbar-nav{
            text-align: center;

            .nav-link{
                font-size: 18px;
                color: map-get($color, color-principal) !important;
                font-family: museosans-300;
                margin-left: 10px;
                transition: transform 1s;

                &:hover{
                    transform: scale(1.1);
                }
            }

        }  
     }
}
