.main__inicio{
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../imagen/imageninicio2.jpg");
    height: 50rem;
    object-fit:cover;
    object-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    overflow: hidden;

    .sticker{
        width: 30rem;
        margin-top: -15rem;
        height: 100%;
    }

    .inicio__texto1{
        font-size: 35px;
        color: map-get($color, color-principal);
        margin: 5rem 0rem 1rem 0rem;
        font-family: jersey_m54;
        text-shadow: -2px 0px 4px black;
    }
    
    .inicio__texto2{
        font-size: 51px;
        color: map-get($color, color-principal);
        font-family: jersey_m54;
        padding-bottom: 40px;
        text-shadow: -2px 0px 4px black;
        
    }

    .inicio__texto3{
        text-decoration: none;
        color: map-get($color, color-principal) !important; /*No me deja igual que el Nav*/
        font-size: 18px;
        text-shadow: -1px 0px 4px black;
        background-color: map-get($color, color-secundario);
        padding: 7px 15px;
        border-radius: 10px;
        font-family: museosans_900;

    }
    
    .inicio__boton:hover{
        transform: scale(1.2);
    }
    .inicio__boton{
        width: fit-content;
        margin: 0 auto;
        transition: transform 1s;
    }


    @media only screen and (max-width: 1024px) {
        .sticker{
            width: 25rem;
            margin-top: -15rem;
            height: 100%;
        }
        .inicio__texto1{
            font-size: 30px;
            margin: 12rem 0rem 1rem 0rem;
        }

    }

    @media only screen and (max-width: 768px) {

        .sticker{
            width: 25rem;
            margin-top: -15rem;
            height: 100%;
        }
        .inicio__texto1{
            font-size: 30px;
            margin: 10rem 0rem 1rem 0rem;
        }


    }
    @media only screen and (max-width: 390px) {

        .inicio__texto1{
            font-size: 30px;
            margin: 12rem 0rem 1.5rem 0rem;
        }
        .inicio__texto2{
            font-size: 40px;
            padding-bottom: 40px;
        }

    }
    @media only screen and (max-width: 320px) {
        .sticker{
            width: 26rem;
            margin-top: -15rem;
            height: 100%;
        }
        .inicio__texto1{
            font-size: 30px;
            margin: 16rem 0rem 1rem 0rem;
        }
        .inicio__texto2{
            font-size: 40px;
            padding-bottom: 40px;
        }


    }
}
