.main__modelos{
    background-color: black;

    .modelos__contenedor{

        .modelos__titulo{
            color: map-get($color, color-secundario);
            font-family: museosans_900;
            font-size: 24.73px;
            border-bottom: 4px solid;
            width: fit-content;
            margin-top: 5%;
            margin-left: 10%;
            margin-right: 10%;
        }

        .modelos__text1{
            font-family: jersey_m54;
            font-size: 45px;
            color: map-get($color, color-principal);
            margin-top: 10%;
            margin-left: 15%;
            margin-right: 10%;
        }
        .modelos__text2{
            font-family: museosans-700italic;
            font-size: 25px;
            color: map-get($color, color-principal);
            margin-top: 3%;
            margin-left: 15%;
            margin-right: 10%;
        }
        .modelos__text3{
            font-family: museosans_100;
            font-size: 20px;
            color: map-get($color, color-principal);
            margin-top: 5%;
            margin-left: 15%;
            margin-right: 10%;
        }
        

    }

    .modelos__imagenes{

        .imagen__rayas{
            width: 21rem;
            
        }

        .carousel{
            width: 22rem;
            padding-left: 2%;
    
            .imagenes__carrusel{
                width: auto;
                height: 28rem;
            }
        }


    }


}