.main__modelos{
    background-color: black;

    .modelos__contenedor{

        .modelos__titulo{
            color: map-get($color, color-secundario);
            font-family: museosans_900;
            font-size: 24.73px;
            border-bottom: 4px solid;
            width: fit-content;
            margin-top: 10%;
            margin-left: 10%;
        }

        .modelos__text1{
            font-family: jersey_m54;
            font-size: 45px;
            color: map-get($color, color-principal);
            align-items: center;
            margin-top: 10%;
            margin-left: 13%;
        }
        .modelos__text2{
            font-family: museosans-700italic;
            font-size: 25px;
            color: map-get($color, color-principal);
            margin-top: 3%;
            margin-left: 13%;
        }
        .modelos__text3{
            font-family: museosans_100;
            font-size: 20px;
            color: map-get($color, color-principal);
            margin-top: 3%;
            margin-left: 13%;
        }
        

    }

    .modelos__imagenes{

        .imagen__rayas{
            width: 21rem;
            
        }

        .carousel{
            width: 22rem;
            padding-left: 2%;
    
            .imagenes__carrusel{
                width: auto;
                height: 28rem;
            }
        }


    }

    @media only screen and (max-width: 1199px) {




    }

    @media only screen and (max-width: 1024px) {

        .modelos__contenedor{
            .modelos__text1{
                margin-top: 20%;
                margin-bottom: 9% 
            }
        }




    }

    @media only screen and (max-width: 768px) {
        
        .modelos__contenedor{
            .modelos__text1{
                font-size: 35px;
                margin-top: 25%;
                margin-left: 9%;
            }
            .modelos__text2{
                font-size: 24px;
                margin-top: 15%;
                margin-left: 13%;
            }
            .modelos__text3{
                font-size: 18px;
                margin-top: 8%;
                margin-left: 13%;
            }

        }




    }
    @media only screen and (max-width: 375px) {
        .modelos__contenedor{
            .modelos__text1{
                font-size: 35px;
                margin-top: 20%;
                margin-left: 9%;
            }
            .modelos__text2{
                font-size: 24px;
                margin-top: 10%;
                margin-left: 13%;
            }
            .modelos__text3{
                font-size: 16px;
                margin-top: 10%;
                margin-left: 13%;
            }

        }





    }
    @media only screen and (max-width: 320px) {
        .modelos__contenedor{
            .modelos__text1{
                font-size: 35px;
                margin-top: 20%;
                margin-left: 9%;
            }
            .modelos__text2{
                font-size: 24px;
                margin-top: 10%;
                margin-left: 13%;
            }
            .modelos__text3{
                font-size: 19px;
                margin-top: 10%;
                margin-left: 13%;
            }

        }

        .modelos__imagenes{
            
            .imagen__rayas{
                width: 18rem;
                
            }
    
            .carousel{
                width: 18rem;
                padding-left: 4.5%;
        
                .imagenes__carrusel{
                    width: auto;
                    height: 22rem;
                }
            }
    
    
        }




    }
}