.main__nosotros{
    overflow: hidden;

    .img-fluid{
        width: fit-content;
        height: fit-content;
        margin-left: fit-content;
        margin-top: -5px;
    }
        .nosotros__contenedor{
            
            
            .nosotros__titulo{
             color: map-get($color, color-secundario);
             font-family: museosans_900;
             border-bottom: 4px solid;
             width: fit-content;
             margin-top: 20px;
             

                
                
                &--texto{
                    font-family: museosans_100 ;
                    font-size: 24px;
                    margin-left: 5%;
                    margin-top: 10%;
                    
                }
            }
            

            .contenedor__compromiso{
                gap: 20%;
                margin-top: 17%;

                .nosotros__compromiso{
                    width: fit-content;

                    .nosotros__imagen--compromiso{
                         width: 5rem;
                         height: 5rem;
                         align-self: center;
                    }
                    .nosotros__text--compromiso{
                           font-family: museosans_500;
                          align-self: center;
                    }
                    
                }
                
                .nosotros__calidad{
                    width: fit-content;

                    .nosotros__imagen--calidad{
                        width: 5rem;
                        height: 5rem;
                        align-self: center;
                        
                    }
                    
                    .nosotros__text--calidad{
                        font-family: museosans_500;
                        align-items: center;
                        margin: 5px 15px ;
                        align-self: center;
                        
                    }

                }


            }

            .contenedor__fabrica{
                gap: 20%;
                margin-bottom: 10%;

                .nosotros__fabrica{
                    width: fit-content;

                    .nosotros__imagen--fabrica{
                        width: 5rem;
                        height: 5rem;
                        align-self: center;
                    }
                    .nosotros__text--fabrica{
                        align-self: center;
                        font-family: museosans_500;
                    }
                }
                
                .nosotros__entrega{
                    width: fit-content;

                    .nosotros__imagen--entrega{
                        width: 5rem;
                        height: 5rem;
                        align-self: center;
                    }
                    .nosotros__text--entrega{
                        align-self: center;
                        font-family: museosans_500;
                        
                    } 
                }

            }

         }


}



 











    
    
    
    
