.nosotros__main{
    background-color:  map-get($color, color-principal);
    overflow: hidden;

    .vivienda__titulo{
        color: map-get($color, color-secundario);
        font-family: museosans_900;
        font-size: 24.73px;
        border-bottom: 4px solid;
        width: fit-content;
        margin-top: 10%;
        margin-left: 10%;
    }

    .vivienda__text1{
        font-family: jersey_m54;
        font-size: 40px;
        margin-top: 10%;
        margin-left: 13%;
        margin-bottom: -10px;

    }
    .vivienda__text1-2do{
        font-family: museosans-700italic;
        margin-left: 13%;
        font-size: 35px;
    }
 

    .vivienda__text2{
        font-family: museosans_100;
        font-size: 20px;
        margin-top: 3%;
        margin-left: 13%;
    }

    .contenedor__metros{
        margin-left: 13%;

        .imagen__marcador{
            width: 60px;
            height: 60px;
        }
        .metros__texto{
            margin-top: 15px;
            font-family: museosans-500;
            font-size: 20px;

        }
        
    }

    .contenedor__equipado{
        margin-left: 13%;

        .imagen__marcador{
            width: 60px;
            height: 60px;
        }
        .equipado__text{
            margin-top: 15px;
            font-family: museosans-500;
            font-size: 20px;
        }

    }
    .contenedor__financiado{
        margin-left: 13%;

        .imagen__marcador{
            width: 60px;
            height: 60px;
        }
        .financiado__text{
            margin-top: 15px;
            font-family: museosans-500;
            font-size: 20px;
        }

    }

    .vivienda__imagen{
        width: fit-content;
        height: auto;
        margin-top: -3px;
        
    }


    @media only screen and (max-width: 1024px) {
        .vivienda__titulo{
            margin-top: 5%;
        }
        .vivienda__text1{
            margin-top: 50px;
 
        }
        .vivienda__text2{
            margin-top: 50px;
            margin-bottom: 30px;
        }


    }

    @media only screen and (max-width: 768px) {
        .vivienda__titulo{
            font-size: 24.73px;
            border-bottom: 4px solid;
            width: fit-content;
            margin-top: 9%;
            margin-left: 10%;
        }
        .vivienda__text1{
            font-size: 34px;
            margin-top: 20%;
            margin-left: 5%;
        }
        .vivienda__text1-2do{
            font-family: museosans-700italic;
            margin-left: 6%;
            font-size: 30px;
        }
        .vivienda__text2{
            font-size: 20px;
            margin-top: 10%;
            margin-left: 10%;
            margin-bottom: 6%;
        }
 
        .vivienda__imagen{
           
            margin-top: -1px;
            
        }




    }
    @media only screen and (max-width: 375px) {

        .vivienda__titulo{
            font-size: 24.73px;
            border-bottom: 4px solid;
            width: fit-content;
            margin-top: 10%;
            margin-left: 10%;
        }
        .vivienda__text1{
            font-size: 34px;
            margin-top: 20%;
            margin-left: 5%;
            text-align: center;
        }
        .vivienda__text1-2do{
            font-family: museosans-700italic;
            margin-left: 7%;
            font-size: 35px;
        }
        .vivienda__text2{
            font-size: 20px;
            margin-top: 10%;
            margin-left: 6%;
            margin-bottom: 10%;
        }
        .vivienda__imagen{
            width: fit-content;
            height: 100%;
            margin-top: 10%;
        }



    }
    @media only screen and (max-width: 320px) {

        .vivienda__titulo{
            font-size: 24.73px;
            border-bottom: 4px solid;
            width: fit-content;
            margin-top: 10%;
            margin-left: 10%;
        }
        .vivienda__text1{
            font-size: 29px;
            margin-top: 20%;
            margin-left: 5%;
            text-align: center;
    
        }
        .vivienda__text1-2do{
            font-family: museosans-700italic;
            margin-left: 7%;
            font-size: 25px;
        }
        .vivienda__text2{
            font-size: 20px;
            margin-top: 10%;
            margin-left: 6%;
            margin-bottom: 10%;
        }
        .vivienda__imagen{
            width: fit-content;
            height: 100%;
            margin-top: 10%;
            
        }




    }

}
